body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,tr,th,td { margin: 0; padding: 0; border: 0;}
html,body { height: 100%; }
img { width: 100%; height: auto; }

img[src=""] {opacity: 0;filter: alpha(opacity=0)}
html,body { overflow-x:hidden; }
body { margin: 0 auto; background: #ffd84d;}
.hide {opacity: 0; visibility: hidden;}
.hide2 { display: none;}
.gameOver {  }
.poster { position: relative; width: 22.5rem; height: 37.5rem; overflow: hidden; background: #ffd84d url(../images/active-bg.png) no-repeat; background-size: 22.5rem; }
.poster h2 { position: absolute; top: 13rem; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); color: #38050a; font-size: 1rem; font-weight:bold; }
.poster h2 span { padding:0 3px; color: #ec0d22; }
.layer { position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.8);  }
.layer .close { position: absolute; top: 6.43rem; right:2.3rem; height: 1.75rem; width: 1.75rem; z-index: 2; }
.layer .guanzhu { position: absolute; top: 6.43rem; left: 0; width: 22.5rem; height: 22.4rem;  }
.layer .code { position: absolute; top: 16rem; left: 50%; width: 7.4rem; height: 7.4rem; transform: translateX(-50%);}
.qiang { position: absolute; top: 14.81rem; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); width: 7.75rem; height: 2.5rem; }
.go-buy { position: absolute; top: 17.8rem; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); width: 8.2rem; font-size: 1rem; font-weight: bold; }
.go-buy a { color: #38050a; text-decoration: underline;}
.arrow-left { position: absolute; left:5.5rem; top: 14.65rem ; width: 1.625rem; height: 1.56rem; -webkit-animation: swipeMoveLeft 1s 0s ease-in-out infinite;
    animation: swipeMoveLeft 1s 0s ease-in-out infinite;}
.arrow-right { position: absolute; right: 5.75rem; top: 15.87rem; width: 1.375rem; height:1.375rem; -webkit-animation: swipeMoveRight 1s 0s ease-in-out infinite;
    animation: swipeMoveRight 1s 0s ease-in-out infinite;}
.layer2, .gameOver{ position: absolute; left: 0; top: 0;  width: 100%; height: 100%; background:rgba(0,0,0,.8); z-index: 3; }
.poster2 { position: absolute; width: 19.2rem; height: 30rem; left: 50%; top: 50%; margin-left: -9.6rem; margin-top: -15rem;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}
.hide .poster2 {-webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8)
}

.poster2 .airship { position: absolute; top: 18rem; left: 3.7rem; width: 12rem; height: 7.2rem;background: url(../images/airship.png) no-repeat; }
.poster2 .save { position: absolute;  width: 8rem; top: 24rem; left: 50%; transform: translateX(-50%); height: 2.2rem;  z-index: 2;
background: url(../images/save.png) no-repeat; background-size: 8rem auto;}
:not(input) {
    -webkit-user-select: none;
}
#poster-bg2 { position: absolute; width: 100%; height: 100%; opacity: 0;height: 100%; opacity: 0; top: 0; left: 0; z-index: 5}
.poster2 .cover { width: 19.2rem; height: 30rem; }
.poster2 .cover img { height: 100%; }
.poster2 .close { position: absolute; top: -2.2rem; right: -.9rem; height: 1.75rem; width: 1.75rem; background: url(../images/close.png) no-repeat; background-size: 1.75rem 1.75rem; z-index: 2; }
.poster2 .qrcode2 { position: absolute; top: 15rem; left: 5.6rem; width: 8rem; height: 8rem; }
#posterg { display: none; }
 @-webkit-keyframes swipeMoveRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: .85;
    -webkit-transform: translate3d(10px, 0, 0);
  }
}
@keyframes swipeMoveRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: .85;
    -webkit-transform: translate3d(10px, 0, 0);
  }
}
@-webkit-keyframes swipeMoveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: .85;
    -webkit-transform: translate3d(-10px, 0, 0);
  }
}
@keyframes swipeMoveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: .85;
    -webkit-transform: translate3d(-10px, 0, 0);
  }
}